<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student Details</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
              display: grid;
              place-items: center;
        }
    </style>
</head>
<body>
    <div align="center" >
        <h2> Create New Student Record </h2>
    </div>
    <div class="box" > 
        <form id="addForm"  >
            <p>Roll No</p>
            <input type="text" id="rollno" required >
            <p> Name </p>
            <input type="text" id="name" required >
            <p> DOB </p>
            <input type="date" id="dob" required >
            <p>Email Id</p>
            <input type="email" id="email" required >
            <p>Location</p>
            <input type="text" id="location" required >
            <div align="center" >
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</body>
</html>